@charset "UTF-8";
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.price {
  color: green;
  font-family: fantasy;
  font-style: oblique;
  font-size: 16px;
}

* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

header {
  height: 120px;
  text-align: center;
  background-color: gray;
  background-image: url("https://i.pinimg.com/736x/88/38/42/883842bba5d873f6bbbb077c87195349.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -200px;
  box-shadow: 0 0 10px black;
  padding: 20px 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  flex: 1;
}

footer {
  background-color: rgb(63, 63, 63);
  padding: 20px 0;
  flex: 0;
  box-shadow: 0 0 10px;
  clear: both;
  z-index: 4;
}

.footer_wrapper {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.footer_wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
.footer_wrapper ul.info {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
.footer_wrapper ul.info li {
  color: black;
}
.footer_wrapper ul.info a {
  color: black;
  font-weight: bold;
}
.footer_wrapper ul li {
  user-select: none;
  cursor: pointer;
  transition: 0.4s ease;
  color: white;
}
.footer_wrapper ul li:hover {
  color: rgba(141, 141, 141, 0.7137254902);
}
.footer_wrapper ul li:active {
  color: rgba(183, 183, 183, 0.9176470588);
}

.hideme {
  display: none;
}

#leftMenu,
#loginBox,
#registerBox {
  padding-bottom: 20px;
}

.cartBox {
  padding: 5px 0px 5px 0px;
}

#userBox {
  margin: 20px 0;
}
#userBox a {
  display: block;
}
#userBox #userLink {
  font-size: 18px;
}
#userBox #userLink::before {
  content: "Привіт, ";
}

#leftColumn {
  box-shadow: 0 0 10px;
  height: 100%;
  float: left;
  background-color: rgb(59, 59, 59);
  padding: 15px;
  position: sticky;
}
#leftColumn #leftMenu {
  width: 200px;
  padding: 15px;
  background-color: rgba(162, 162, 162, 0.551);
  border-radius: 8px;
}
#leftColumn #leftMenu ul {
  list-style: none;
}
#leftColumn #leftMenu a {
  color: black;
  text-decoration: none;
}
#leftColumn #leftMenu .menu_list-title {
  font-size: 28px;
}
#leftColumn #leftMenu .menu_list-title h5 a {
  text-shadow: 0 0 10px;
  font-weight: 900;
  color: white;
}
#leftColumn #leftMenu .menuCaption {
  padding: 3px;
  font-weight: bold;
}
#leftColumn #leftMenu .menuCaption.showHidden {
  cursor: pointer;
}
#leftColumn #leftMenu #loginBox {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
#leftColumn #leftMenu #loginBox input {
  margin-bottom: 10px;
  padding: 2px;
}
#leftColumn #leftMenu #loginBox input[type=button] {
  padding: 5px;
}
#leftColumn #leftMenu .registerBox input {
  margin-top: 5px;
  margin-bottom: 10px;
}

#autopark tr {
  background-color: rgba(85, 85, 85, 0.4274509804);
}
#autopark tr td {
  padding: 10px !important;
}

#centerColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  float: left;
  padding: 20px;
}
#centerColumn .items_wrapper {
  order: 2;
  display: flex;
  align-items: flex-start;
  flex: 1;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 5px;
}
#centerColumn .items_wrapper .main_page_item {
  border-radius: 8px;
  overflow: visible;
  text-decoration: none;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
}
#centerColumn .items_wrapper .main_page_item a {
  text-decoration: none;
  text-align: center;
  color: black;
}
#centerColumn .items_wrapper .main_page_item:hover img {
  transform: scale(1.2);
}
#centerColumn .items_wrapper .main_page_item img {
  transition: 0.4s;
  background-color: gray;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#centerColumn .items_wrapper .main_page_item p {
  margin-top: 10px;
  color: black;
  font-size: 18px;
  text-align: center;
}
#centerColumn .items_wrapper .main_page_item span {
  display: block;
}
#centerColumn .pagination {
  justify-self: flex-end;
  width: 100%;
  text-align: center;
  margin: 15px 0;
  font-size: 16px;
}
#centerColumn .pagination a {
  padding: 5px;
  text-decoration: none;
  border: 1px solid black;
}
#centerColumn .pagination strong {
  color: white;
  background-color: #555;
  padding: 5px;
  border: 1px solid black;
}

.category_item {
  border-radius: 8px;
  overflow: visible;
  text-decoration: none;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.category_item a {
  text-decoration: none;
  text-align: center;
  color: black;
}
.category_item:hover img {
  transform: scale(1.2);
}
.category_item img {
  transition: 0.4s;
  background-color: gray;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.category_item p {
  margin-top: 10px;
  color: black;
  font-size: 18px;
  text-align: center;
}

.general_categories {
  order: 1;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  text-shadow: 0 0 10px;
}
.general_categories a {
  text-decoration: none;
  color: rgba(0, 8, 255, 0.665);
}

.car_page {
  background-color: gray;
  border-radius: 15px;
  box-shadow: 0 0 10px;
  height: 100%;
  width: 100%;
}
.car_page .car_info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
  padding: 50px;
}
.car_page .car_info .car_info_wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}
.car_page .car_info .car_info_wrapper .car_information {
  flex: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.car_page .car_info .car_info_wrapper .car_information .buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.car_page .car_info .car_info_wrapper .car_information .buy .price {
  font-size: 32px;
  color: rgb(45, 215, 45);
}
.car_page .car_info .car_info_wrapper .car_information .buy button {
  z-index: 9999;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 0 10px;
  border: 0;
  border-radius: 13px;
  padding: 10px 20px;
  transition: 0.4s;
}
.car_page .car_info .car_info_wrapper .car_information .buy button:hover {
  background-color: #888888;
}
.car_page .car_info .car_info_wrapper .car_information .buy button:active {
  background-color: #6f6f6f;
}
.car_page .car_info .car_info_wrapper img {
  border: 2px solid rgba(0, 0, 0, 0.419);
  border-radius: 8px;
  flex: 1;
  object-fit: contain;
  height: 375px;
  width: 600px;
}

#cart_page h1 {
  text-align: center;
  margin-bottom: 20px;
}
#cart_page div table thead {
  text-align: center;
}
#cart_page div table td {
  padding: 0 10px;
}
#cart_page div table .action_btn {
  width: 200px;
}
#cart_page div table tbody tr {
  text-align: center;
  transition: 0.2s ease-in;
}
#cart_page div table tbody tr:hover {
  background-color: rgba(128, 128, 128, 0.453);
}
#cart_page div table img {
  background-color: gray;
  width: 100px;
  height: 50px;
  object-fit: cover;
}
#cart_page div table button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 8px;
  transition: 0.4s ease;
}
#cart_page div table button:hover {
  background-color: rgba(0, 0, 0, 0.154);
}

#logo {
  border: 1px solid rgba(0, 0, 0, 0.349);
  box-shadow: 0 0 15px black;
  background: linear-gradient(240deg, rgba(0, 0, 0, 0.4823529412), rgba(255, 255, 255, 0.2392156863));
  object-fit: contain;
  margin: 0 auto;
  border-radius: 15px;
  width: 150px;
  height: 120px;
  filter: drop-shadow(0 0 10px white);
  transition: 0.4s;
}
#logo:hover {
  filter: drop-shadow(0 0 10px pink);
}
#logo:active {
  filter: drop-shadow(0 0 10px purple);
}

/*# sourceMappingURL=main.css.map */
